<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reganthomas.myproject">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TitleScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ExpansionsScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutMeScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".HistoryScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AOE1Screen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AOE2Screen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AOE3Screen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AOMScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AOE1UnitsScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AOMUnitsScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AOE3UnitsScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AOE2UnitsScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LinksScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".WebpageListActivity"
            android:label="@string/title_webpage_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".WebpageDetailActivity"
            android:label="@string/title_webpage_detail"
            android:parentActivityName=".WebpageListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.reganthomas.myproject.WebpageListActivity" />
        </activity>
    </application>

</manifest>